#gridContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.row {
    display: flex;
    flex-direction: row;
    max-width: 850px;
    

    
}
.column{
width: 10px;
height: 10px;
background-color: lightgray;

}
.hover{
    background-color: blue;
}